.events {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;

  background-image: repeating-linear-gradient(
      90deg,
      transparent,
      transparent 20%,
      rgba(255, 255, 255, 0.2) 1px,
      transparent 20.08%,
      transparent 50%,
      rgba(255, 255, 255, 0.2) 1px,
      transparent 50.08%,
      transparent 80%,
      rgba(255, 255, 255, 0.2) 80%,
      transparent 80.08%
    ),
    linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/vegetables.jpg");
  background-size: 1440px;
  background-repeat: no-repeat;
  background-position: center;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (-o-min-device-pixel-ratio: 2/1),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .box {
      background-image: repeating-linear-gradient(
          90deg,
          transparent,
          transparent 20%,
          rgba(255, 255, 255, 0.2) 1px,
          transparent 20.08%,
          transparent 50%,
          rgba(255, 255, 255, 0.2) 1px,
          transparent 50.08%,
          transparent 80%,
          rgba(255, 255, 255, 0.2) 80%,
          transparent 80.08%
        ),
        linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("../images/vegetables@2x.jpg");
    }
  }

  @media screen and (min-device-pixel-ratio: 3),
    screen and (-webkit-min-device-pixel-ratio: 3),
    screen and (-o-min-device-pixel-ratio: 3/1),
    screen and (min-resolution: 288dpi),
    screen and (min-resolution: 3dppx) {
    .box {
      background-image: repeating-linear-gradient(
          90deg,
          transparent,
          transparent 20%,
          rgba(255, 255, 255, 0.2) 1px,
          transparent 20.08%,
          transparent 50%,
          rgba(255, 255, 255, 0.2) 1px,
          transparent 50.08%,
          transparent 80%,
          rgba(255, 255, 255, 0.2) 80%,
          transparent 80.08%
        ),
        linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("../images/vegetables@3x.jpg");
    }
  }
}

.events__wrapper {
  @include flexbox();
  margin-bottom: 38px;

  @media screen and (max-width: 540px) {
    flex-direction: column;
    margin-bottom: 15px;
  }
}

.events .thumb {
  &:not(:last-child) {
    margin-right: 80px;

    @media screen and (max-width: 540px) {
      margin-bottom: 15px;
      margin-right: 0;
    }
  }
}

.events__img-caption {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 16%;
  background-color: getColor(primary-dark-color);
}
.events__img-caption-text {
  display: block;
  white-space: nowrap;
  transform: rotate(90deg) translateX(75%);
  @include font(400, 2.4rem, 1, $title-font);
  text-transform: uppercase;
  color: getColor(primary-light-color);

  @media screen and (max-width: 767px) {
    @include font(400, 1.6rem, 1, $title-font);
  }
  @media screen and (max-width: 480px) {
    @include font(400, 1.2rem, 1, $title-font);
  }
}

.events__img-caption:nth-child(2) {
  left: 0;
  .events__img-caption-text {
    transform: rotate(-90deg) translateX(-535%);
  }
}

.events__contacts {
  margin: 0;
  @include font(400, 1.2rem, 1, $primary-font, 0.04em);
  text-align: center;
  color: getColor(captions-on-dark);
}

.events .link {
  color: getColor(captions-on-dark);
  &:hover,
  &:focus {
    text-decoration: underline;
    color: #e8c300;
  }
}

.events img {
  @media screen and (max-width: 540px) {
    width: 220px;
  }
}
