.footer {
	padding: 4.5rem 0;
	background-color: getColor(footer-bg-color);
	@media screen and (max-width: 480px) {
		padding: 3rem 0;
	}

	&__text {
		@include font(400, 1.2rem, 1);
		color: getColor(captions-on-dark);
		text-align: center;
	}
}

.btn-top {
	position: fixed;
	right: 20px;
	bottom: 20px;
	width: 45px;
	height: 45px;
	border: 1px solid getColor(decorative-color);
	border-radius: 50%;
	@include flexbox();
	background-color: transparent;

	&:hover,
	&:focus {
		transform: scale(1.15);
	}

	&__icon-wrapper {
		width: 30px;
		height: 30px;
		border-radius: 50%;
		@include flexbox();
		background-color: getColor(decorative-color);
		color: #333333;
	}
	&__icon {
		width: 20px;
		height: 20px;
		fill: currentColor;
		transform: rotate(180deg);
	}
}
