/* open-sans-regular - latin */
@font-face {
	font-family: 'OpenSans';
	font-style: normal;
	font-weight: 400;
	src: url('./fonts/OpenSansRegular.eot');
	src: url('./fonts/OpenSansRegular.eot') format('embedded-opentype'),
		url('./fonts/OpenSansRegular.woff2') format('woff2'),
		url('./fonts/OpenSansRegular.woff') format('woff'),
		url('./fonts/OpenSansRegular.ttf') format('truetype'),
		url('./fonts/OpenSansRegular.svg#OpenSansRegular') format('svg');
}
/* open-sans-700 - latin */
@font-face {
	font-family: 'OpenSans';
	font-style: normal;
	font-weight: 700;
	src: url('./fonts/OpenSansBold.eot');
	src: url('./fonts/OpenSansBold.eot') format('embedded-opentype'),
		url('./fonts/OpenSansBold.woff2') format('woff2'),
		url('./fonts/OpenSansBold.woff') format('woff'),
		url('./fonts/OpenSansBold.ttf') format('truetype'),
		url('./fonts/OpenSansBold.svg#OpenSansBold') format('svg');
}

@font-face {
	font-family: 'Banny';
	font-style: normal;
	font-weight: 400;
	src: url('./fonts/BannyRound.eot');
	src: url('./fonts/BannyRound.eot') format('embedded-opentype'),
		url('./fonts/BannyRound.woff2') format('woff2'),
		url('./fonts/BannyRound.woff') format('woff'),
		url('./fonts/BannyRound.ttf') format('truetype'),
		url('./fonts/BannyRound.svg#BannyRound') format('svg');
}
